@media only screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }

  #welcome-section{
      height: 100vh;
  }

  #navbar{
      position: fixed;
      top: 0;
      margin: auto;
      width: 100%;
      text-align: center;

  }